<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="./css/style.css" rel="stylesheet" />
    <script src="/js/app.js"></script>
</head>

<body>
    {{>header}}
    <h1>About Us</h1>
    <img src="/img/app-intro.png" alt="" />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget lacus eget sapien iaculis auctor tempus non ligula. Nullam ut tincidunt lectus, id auctor urna. Proin vitae lectus augue. Nullam placerat placerat vulputate. Nunc iaculis tortor
        et mi consequat volutpat. Donec eu augue vel est molestie dignissim. Proin velit massa, facilisis id mauris eget, accumsan commodo dui. Cras pretium nulla vel ipsum sodales venenatis. Fusce efficitur sed eros nec sodales. Morbi nec risus quis
        enim accumsan vestibulum nec vitae tortor. Curabitur mattis nulla nibh, sed blandit arcu ultricies vel. Proin non nisl dui. Nulla facilisi.</p>
 {{>footer}}
</body>

</html>