<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./css/style.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    {{>header}}
   <h1>{{helpmsg}}</h1> 
   <p>This is a helping nature code about the sensibility</p>
   {{>footer}}
</body>
</html>