<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="./css/style.css" rel="stylesheet" />
 
</head>

<body>
    {{>header}}
    <h1>{{name}}</h1>
    <form action="">
        <input name="address" type="text" placeholder="Location"/>
        <button>Search</button>
    </form>
    <div class="weather_result">
       <p id="weather_result_p"></p> 
        <p id="weather_result_error"></p> 
    </div>
    <p>{{profession}}</p>
     {{>footer}}
        <script src="/js/app.js"></script>
</body>

</html>