<div class="footer">
    <h4>Footer menu.....................</h4>
      <ul>
        <li>
          <a href="/">Weather</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/help">Help</a>
        </li>
    </ul>
    <p>Created by Aalok Shrivastava</p>
</div>